
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    
    overflow: hidden;
}

#draggableArea {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

/*//////////////////////////////////////////////////////////////////////*/
/*///////////////////// MENU DE arriba A LA IZQUIERDA //////////////////*/
/*/////////////////// con las peloticas y todo eso  ////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/*** BOLA PRINCIPAL ****/
.ballMenu {
    position: absolute;
    z-index: 99;
    left: -100px;
    top: -100px;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.ballMenu > .ballMenuContent {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    left: 105px;
    top: 105px;
}
.ballMenu > .ballMenuContent > img{
    width: 100%;
    
}

/*** BOLAS SECUNDARIAS ****/
.ball {
    position: absolute;
    z-index: 98;
    left: 100;
    top: 0;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.ball > .ballContent {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
}
.ball > .ballContent > img {
    width: 100%;
}

/*/////////////////////////////////////////////////////////////////////*/
/*///////////////////////// CONTENDOR DE MENUS ////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

.menu{
    position: absolute;
    height: auto;
    width: auto;

    background-color:#FFFFFF;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
}
.menu > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 30px;
}
.closeMenuButton {
    position: relative;
    float: right;
    width: 12.58px;
    height: 16px;

    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.pinMenuButton {
    position: relative;
    top: 1px;
    right: 5px;
    float: right;
    width: 17px;
    height: 17px;

    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.pinMenuButton img {
    position: absolute;
    width: 73%;
    opacity: 0.5;
    right: -3px;
    top: 2px;
}

/*/////////////////////////// MENU DE MAPAS ///////////////////////////*/
#mapsMenu {
    left: 190px;
    top: 20px;
}

#mapsTrans {
    
    width: 190px;
    height: auto;
}
.mapTrans {
    margin: 5px 10px 5px 10px;   
}
.contEye {
    cursor: pointer;
}
.contEye > h2 {
    display: inline;
    position: relative;
    top: -3px;
    margin-left: 2px;
}

.mapTrans > input {
    width: 50%;
}

/*/////////////////////////// MENU DE HOTSPOTS ///////////////////////////*/
#hotspotsMenu {
    left: 10px;
    top: 110px;
    width: 150px;
    height: 300px;
}
#hotspotsMenu > #hotspotsContent {
    overflow-y: auto;
    width: 100%;
    height: 270px;
}

/*/////////////////////////// MENU DE CALLEJERO ///////////////////////////*/
#streetsMenu {
    top: 20px;
    right: 10px;
    width: 190px;
    height: auto;
}



/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////// MENU DE ABAJO A LA IZQUIERDA ////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#tilesMenu {
    z-index: 0;
    position: absolute;
    
    bottom: 15px;
    left: 10px;

    height: 100px;
    width: auto;
}
#tileChooser {

    border-radius: 10px;

}
#tileChooser > .tiles {
    display: inline;    
    
}
#tileChooser > .tiles > img {
    height: 100px;

    margin: 3px 2px 0px 2px;

    border-radius: 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    cursor: pointer;
}

#tilesShow{
    position: relative; 
    z-index: 2;

    top: -25px;
    margin-bottom: -35px;
    left: 277px;

    width: 50px;
    height: 30px;
    
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    background-color:#FFFFFF;
    cursor: pointer;
}
#tilesShow > i {
    margin-top: 6px;
}

/*/////////////////////////////////////////////////////////////////////*/
/*///////////////////// MENU DE ABAJO A LA DERECHA ////////////////////*/
/*///////////// PARA GUARDAR LOS CAMBIOS AL ALINEAR  //////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
    
#saveMenu{
    z-index: 0;
    position: absolute;
    
    bottom: 15px;
    right: 10px;

    height: 100px;
    width: 100px;
    padding: 5px;
}
#saveMenu button {
    width: 100%;
    height: 100px;
    
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    background-color:#FFFFFF;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
#saveMenu img {
    cursor: pointer;
    width: 100%;
}

/*/////////////////////////////////////////////////////////////////////*/
/*///////////////////// MENU DE ABAJO A LA DERECHA ////////////////////*/
/*//////////////// PARA PONERLO EN PANTALLA COMPLETA  /////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
    
#fullScreenMenu{
    z-index: 0;
    position: absolute;
    
    bottom: 22px;
    right: 10px;

    height: 30px;
    width: 30px;
    
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E0E0E0;
    background-color:#FFFFFF;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
#fullScreenMenu img {
    width: 100%;
    height: 100%;
}




/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// OTROS  ///////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }