html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.container-fluid {
    height: 100%;
    background-repeat: no-repeat;
}

/* Imagen de fondo */
#background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}

#pageCenter{
    position: relative;
    width: 100%;
    height: 100%; 
}

/* EL LOGO Y EL TITULO */
#pageContent{ 
    position: absolute;
    height: 100%;
    width: 100%;

}
#logo {
    height: 40%;
    margin-top: 2%;
    
}
#logo img {
    position: relative;
    height: 100%;
}

#title{
    font-size: 40px;
    font-weight: bolder;
    color: #1c3668;
}
#subTitle{
    top: -20px;
    position: relative;
    opacity: 0;
    color: rgb(119, 119, 119)
}

/* EL BOTON DE CONTINUAR */
button {
    position: relative;

    height: 75px;
    width: 180px;
    padding: 5px 5px;
    margin-top: 5%;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #1c3668;
    border: 2px #1c3668 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  .fill:hover {
    color: whitesmoke;
  }
  .fill:before {
    content: "";
    position: absolute;
    background: #1c3668;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
  .fill:hover:before {
    top: 0;
  }

/* Menu este de abajo  */
#bottom {
    position: absolute;
    display: none;
    bottom: 0px;
    
    width: 100%;
    text-align: center;
}
#bottomElements {
    display: inline-block;
    
    padding: 2px 8px 2px 8px;
    /* background-color: #474747; */
    color: #1c3668;
    border-radius: 10px 10px 0px 0px;
}
#bottomElements .element {
    display: inline;
}

/* Menu de opciones */
#admin{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;

    cursor: pointer;
}
#admin img {
    width: 100%;
}

/* Ventana de los desarrolladores */
#developers{
    position: absolute;
    display: none;
    opacity: 0;
    width: 100%;
    height: auto;
    top: 30%;
    /* background-color: white;
    border: solid 1px #1c3668;
    border-radius: 20px; */
}

/* Cosas donde salimos la gente */
.student {
    height: 230px;
    width: 150px;
}
.student > .studentHead {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 65%;

    background-color: white;
    border-radius: 100%;
}
.student > .studentHead > img.user {
    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 100%;
}
.student > .studentBody {
    z-index: 1;
    position: relative;
    width: 90%;
    min-height: 70%;
    top: -35%;
    left: 5%;
    padding: 10px;
    padding-top: 60%;

    color: white;
    border-radius: 20px;
    background: rgba(37,143,117,1);
    background: -moz-linear-gradient(-45deg, rgba(37,143,117,1) 0%, rgba(58,179,153,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37,143,117,1)), color-stop(100%, rgba(58,179,153,1)));
    background: -webkit-linear-gradient(-45deg, rgba(37,143,117,1) 0%, rgba(58,179,153,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(37,143,117,1) 0%, rgba(58,179,153,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(37,143,117,1) 0%, rgba(58,179,153,1) 100%);
    background: linear-gradient(135deg, rgba(37,143,117,1) 0%, rgba(58,179,153,1) 100%);
}
.student > .studentBody > .name {
    font-weight: bold;
}
.student > .studentBody > .contact {
    width: 100%;
    background-color: red;
    height: 30px;
}
.student > .studentBody > .contact > .contactThing {
    width: 20%;
    height: 100%;    
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    float: left;
}