#navBar {
    height: 100px;
}
#navBar .col, .headerLink {
    font-size: 20px;
    transition: 0.3s;
}
#navBar .headerLink:hover {
    color: #21fee1;
    font-size: 21px;
}
#navBar > .row > {
    height: 30px;
    
    background-color: aliceblue;
}

#menuImg {
    z-index: 999;
    position: fixed;
    left: 50%;
    width: 130px;
    margin-left: -65px;
}
#menuImg:hover {
    cursor: pointer;
}
