
/********* Create/edit view *********/
#frame{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
#frame #map{
    position: absolute;
}

#frame #token{
    position: absolute;
    display: none;
    width: 30px;
}
#frame input{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
}
/*
.modal-dialog{
    max-width: 600px;
}
*/
.token{
    position: absolute;
    width: 30px;
}

.editStreetsInMap {
    display: none;
    width: auto;
    padding: 0px 20px;   
}
.editStreetsInMap p {
    display: inline-block;
    color: white;
}